@font-face {
  font-family: 'Chakra Petch';
  src:
    url('/fonts/ChakraPetch-Regular.woff2') format('woff2'),
    url('/fonts/ChakraPetch-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Chakra Petch';
  src:
    url('/fonts/ChakraPetch-Medium.woff2') format('woff2'),
    url('/fonts/ChakraPetch-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Chakra Petch';
  src:
    url('/fonts/ChakraPetch-SemiBold.woff2') format('woff2'),
    url('/fonts/ChakraPetch-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Chakra Petch';
  src:
    url('/fonts/ChakraPetch-Bold.woff2') format('woff2'),
    url('/fonts/ChakraPetch-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
