@use 'variables' as *;

* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Chakra Petch', system-ui, sans-serif;
  background-color: $body-bg-color;
  min-width: 320px;
  min-height: 100dvh;
}

.container {
  max-width: 980px;
  margin: 24px auto;
  padding: 16px;
}
