@use '../../global-styles/variables.scss' as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: $header-color;
  width: 100%;
  height: 4rem;
  z-index: 100;
  left: 0;
  top: 0;
  box-shadow: 0px 0px 8px 0px rgba(51, 51, 51, 0.4);
  padding-inline: 2rem;
}

